  body, html {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  .w3-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  /* Navigation Bar */
  .w3-bar {
    background-color: #000; /* Pink background */
  }
  .w3-bar-item {
    padding: 8px 16px;
  }
  /* Header */
  .header {
      text-align: center;
      padding: 80px 0;
      background-image: url('images/bg.jpg'); /* Replace with your image path */
      background-position: center;
  }
  .header h1 {
    font-family: 'Great Vibes', cursive;
    color: #000; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    font-size: 3em;
  }
  /* About Us Section */
  .about-section {
    background-color: #fff;
    padding: 50px 20px;
  }
  .about-section h2 {
    font-family: 'Great Vibes', cursive;
    color: #d68072; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(214, 128, 114, 1.5);
    margin-bottom: 30px;
  }
  .about-section p {
    border: 2px dashed #d68072; 
    border-bottom: 2px dashed #d68072; 
    font-size: 1.1em;
    line-height: 1.6;
    padding: 5px; 
    margin: 5px 0; 
  }
  /* Our Creations Section */
  .creations-section {
    background-image: url('images/bg.jpg'); /* Replace with your image path */
    padding: 50px 20px;
  }
  .creations-section h2 {
    font-family: 'Great Vibes', cursive;
    color: #000; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    margin-bottom: 30px;
  }
  .creations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
  }
  .creations-item {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .creations-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .creations-item h3 {
    color: #000; /* Pink color */
  }
  /* Gallery Section */
  .gallery-section {
    background-color: #fff;
  }
  .gallery-section h2 {
    font-family: 'Great Vibes', cursive;
    color: #d68072; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(214, 128, 114, 1.5);
    margin-bottom: 50px;
  }
  .slideshow-container {
    position: relative;
    max-width: 500px; 
    width: 100%; 
    margin: 0 auto; 
  }
  .slideshow-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .description-container {
    position: relative;
  }
  .image-caption{
    font-family: 'Great Vibes', cursive;
    color: #000; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    font-size: 2em;
  }
  .image-description{
    border: 2px dashed #d68072; 
    border-bottom: 2px dashed #d68072; 
    font-size: 1.1em;
    line-height: 1.6;
    padding: 5px; 
    margin: 5px 0; 
  }
  .w3-badge {
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 0;
    margin: 0 2px;
    background-color: transparent;
    border: 1px solid #d68072; /* Pink color */
  }
  .w3-white {
    background-color: #d68072; /* Pink color */
  }
  /* Testimonials Section */
  .testimonials-section {
    background-image: url('images/bg.jpg'); /* Replace with your image path */
    padding: 50px 20px;
  }
  .testimonials-section h2 {
    font-family: 'Great Vibes', cursive;
    color: #000; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    margin: 50px;
  }
  .testimonial {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  /* Contact Us Section */
  .contact-section {
     background-color: #fff;
    padding: 50px 20px;
  }
  .contact-section h2 {
    font-family: 'Great Vibes', cursive;
    color: #d68072; /* Pink color */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(214, 128, 114, 1.5);
    margin-bottom: 30px;
  }
  .contact-section p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    border: 2px dashed #d68072; 
    border-bottom: 2px dashed #d68072; 
    padding: 5px; 
    margin: 5px 0;
  }
  .contact-section strong {
    font-weight: bold;
  }
  /* Order Now Section */
  .order-section {
    background-image: url('images/bg.jpg'); /* Replace with your image path */
    padding: 50px 20px;
  }
  .order-section h2 {
    font-family: 'Great Vibes', cursive;
    color: #000; /* Pink color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    text-align: center;
    margin-bottom: 30px;
  }
  .order-section p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
  }
  .order-section form {
    max-width: 600px;
    margin: auto;
  }
  .order-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .order-section input[type=text],
  .order-section input[type=email],
  .order-section textarea,
  .order-section input[type=date] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .order-section button[type=submit] {
    background-color: #d68072; /* Pink color */
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1em;
    display: block;
    margin: 20px auto 0;
  }
  .order-section button[type=submit]:hover {
    background-color: #b75e5a; /* Darker pink on hover */
  }
